body {
  font-family: sans-serif;
  margin: auto;
  /*max-width: 1280px;*/
}

.marginbottom{
  margin-bottom: 2rem;
}
.marginleft{
  margin-left: 5rem;
}

.longwordcorrection{
  word-wrap: break-word;
}

.center {
  margin: auto;
  width: 100%;
}
.aligncenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.bg-img {
  background-image: url(https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1033&q=80) ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;

}


